---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<div id="container"></div>

<script id="vertShader" type="shader">
  varying vec2 vUv;
  varying vec3 vecPos;
  varying vec3 v_position;
  void main() {
    vUv = uv;
    vecPos = (modelViewMatrix * vec4(position, 1.0)).xyz;
    v_position = position.xyz;
    gl_Position = projectionMatrix * vec4(vecPos, 1.0);
  }
  </script>
  <script id="fragShader" type="shader">
    varying vec3 v_position;
    varying vec2 vUv;

    void main(void) {
      vec2 st = v_position.xy;
      vec2 grid = abs(fract(st-0.5) - 0.5)/fwidth(st);

      float color = min(grid.x, grid.y);

      gl_FragColor = vec4(1.,1.,1.,1. - color);
    }
  </script>

{% endblock %}
